<%- include('includes/head') %>

<section class="container">
  <h1>
      <%- titulo %> 
  </h1>
  <p>
    <% numero.forEach(num => { %>
      <%- num %>
    <% }); %>
  </p>

  <form  action="/" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <label>Cliente</label>
    <input type="text" name="cliente">
    <button>Submit</button>
  </form>
</section>

<%- include('includes/footer') %>